:local(.tetrix)
{
    display: table;
    margin: 0 auto;
    font-family: Courier New, Courier, monospace;
}

:local(.tetrix) > :local(.container)
{
    display: table;
    margin: 0 auto;
}

:local(.tetrix)
    :local(.grid)
{
    display: table;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-width: 1px 0 0 1px;
}

:local(.tetrix)
    :local(.grid) > :local(.row)
{
    display: table-row;
}

:local(.tetrix)
    h1
{
    text-align: center;
}

:local(.tetrix)
    :local(.grid) > :local(.row) > :local(.cell)
{
    display: table-cell;
}

:local(.tetrix)
    :local(.grid) > :local(.row) > :local(.cell) > :local(.shape-none)
{
    background-color: initial;

    width: 9px;
    height: 9px;

    border-style: solid;
    border-color: lightgray;

    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

:local(.tetrix)
    :local(.grid) > :local(.row) > :local(.cell) > :local(.shape-i)
{
    width: 8px;
    height: 8px;

    border-width: 1px;
    border-style: solid;

    background-color: #92CD00;

    border-top-color: #BCE064;
    border-left-color: #BCE064; 

    border-right-color: #5E8400;
    border-bottom-color: #5E8400;
}

:local(.tetrix)
    :local(.grid) > :local(.row) > :local(.cell) > :local(.shape-j)
{
    width: 8px;
    height: 8px;

    border-width: 1px;
    border-style: solid;

    background-color: #FF0000;

    border-top-color: #FF6464;
    border-left-color: #FF6464; 

    border-right-color: #AF0000;
    border-bottom-color: #AF0000;
}

:local(.tetrix)
    :local(.grid) > :local(.row) > :local(.cell) > :local(.shape-l)
{
    width: 8px;
    height: 8px;

    border-width: 1px;
    border-style: solid;

    background-color: #FF9900;

    border-top-color: #FFBD5A;
    border-left-color: #FFBD5A; 

    border-right-color: #9B5D00;
    border-bottom-color: #9B5D00;
}

:local(.tetrix)
    :local(.grid) > :local(.row) > :local(.cell) > :local(.shape-o)
{
    width: 8px;
    height: 8px;

    border-width: 1px;
    border-style: solid;

    background-color: #3366CC;

    border-top-color: #7396DC;
    border-left-color: #7396DC; 

    border-right-color: #1F3E7C;
    border-bottom-color: #1F3E7C;
}

:local(.tetrix)
    :local(.grid) > :local(.row) > :local(.cell) > :local(.shape-s)
{
    width: 8px;
    height: 8px;

    border-width: 1px;
    border-style: solid;

    background-color: #8C489F;

    border-top-color: #B081BD;
    border-left-color: #B081BD; 

    border-right-color: #552B60;
    border-bottom-color: #552B60;
}

:local(.tetrix)
    :local(.grid) > :local(.row) > :local(.cell) > :local(.shape-t)
{
    width: 8px;
    height: 8px;

    border-width: 1px;
    border-style: solid;

    background-color: #6BCAE2;

    border-top-color: #99DAEB;
    border-left-color: #99DAEB; 

    border-right-color: #458292;
    border-bottom-color: #458292;
}

:local(.tetrix)
    :local(.grid) > :local(.row) > :local(.cell) > :local(.shape-z)
{
    width: 8px;
    height: 8px;

    border-width: 1px;
    border-style: solid;

    background-color: #CE1A8F;

    border-top-color: #DD61B2;
    border-left-color: #DD61B2; 

    border-right-color: #951267;
    border-bottom-color: #951267;
}

:local(.tetrix)
    :local(.rank)
{
    text-align: right;
}

:local(.tetrix)
    :local(.nextShape)
{
    display: table;
    margin: 20px auto 0;
}

:local(.tetrix)
    :local(.controls)
{
    width: 200px;
}

:local(.tetrix)
    :local(.controls)
        p
{
    text-align: justify;
}